[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "linuxbrew"]
	path = linuxbrew
	url = https://github.com/linuxbrew/brew.git
[submodule "the_silver_searcher"]
	path = the_silver_searcher
	url = https://github.com/ggreer/the_silver_searcher.git
